<h3>
  Philip Castiglione
</h3>
<p>
  I am a software engineer and AI enthusiast with a background in business finance.
</p>
<p>
  <a target='_blank' href='https://github.com/PhilipCastiglione'>
    GitHub
  </a>
</p>
<p>
  <a target='_blank' href='https://www.linkedin.com/in/philcastiglione/'>
    LinkedIn
  </a>
</p>
<p>
  <a href='mailto:philipcastiglione@gmail.com'>
    email
  </a>
</p>
